body {
    background: linear-gradient(to right, #f857a6, #ff5858);
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.appContainer {
    /* border: black solid; */
    justify-content: center;
    display: flex;
    margin: 95px;
}

section {
    background-color: white;
    width: 40%;
    /*height: 80%;
    height: 350px; */
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
}

.container {
    /* border: solid red; */
    display: inline;
}

h4 {
    display: inline;
    font-size: 1.5em;
    margin-left: 10px;
}

h5 {
    margin-top: 5px;
    margin-left: 10px;
}
ol {
    list-style-type: none;
}
p {
    display: inline;
}

.completed {
    text-decoration: line-through;
}

.filter {
    display: block;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    border: 1px solid #ccc;
}

a {
    float: right;
    /* display: flex; */
    padding-right: 30px;
}

.xbutton {
    display: inline;
    margin-right: 10px;
    position: relative;
    justify-content: right;
    /* display: flex;
    align-items: center;
    justify-content: right;*/
    /* border: solid green; */
}

.toDoButton {
    border: solid #ff69b4;
    background-color: white;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #ff69b4;
}

.inputContainer {
    display: flex;
    justify-content: center;
}

.taskInput {
    display: block;
    border-radius: 5px;
    width: 90%;
    height: 30px;
    border: 1px solid #ccc;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.bottomButton {
    font-family: 'Open Sans', sans-serif;
    background-color: #ff69b4;
    border-radius: 5px;
    width: 40px;
    border: none;
    color: white;
    display: block;
    width: 90%;
    margin-top: 10px;
    height: 33px;
    margin-bottom: 20px;
}


/* .bottomButton {
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
} */